<% content_for :title do %>
  <i class="fa fa-sitemap"></i> Unidades
<% end %>
<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="<%= unidades_url %>">Unidades</a></li>
<% end %>
<% content_for :sub_title do %>
  Lista de unidades
<% end %>
<% content_for :buttons do %>
  <%= link_to new_unidade_path, class: "btn btn-sm btn-success", title: "Nova Unidade", remote: true do %>
    <i class="fas fa-plus"></i> Nova
  <% end %>
<% end %>

<table id="data-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Tipo</th>
      <th>Usuários</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody id="data-table-body">
    <%= render @unidades %>
  </tbody>
</table>
 
