
$('.conversa').html('')
$('.conversa').html('<%= j render("conversa", conversa: @conversa) %>')

status = "<%= @requisicao_ti.status %>"
if(status == 'Concluída'){
  $('.conversa').append("<br/><center><p class='text-info'>Esta requisição está concluída!</p></center><br/>")
}

$('.msg_history').scrollTop(10000)

$('.conversas').html('')
$('.conversas').html('<%= j render("conversas", requisicoes: @requisicoes_ti) %>')



