<div class="modal-body">

  <%= form_for @requisicao_ti, url: salvar_troca_tecnico_nuinfo_requisicao_ti_path(@requisicao_ti), method: :put, remote: true do |f| %>
    <% if @requisicao_ti.errors.any? %>
      <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h5><i class="icon fas fa-ban"></i> Ops! Algo deu errado.</h5>
        </div>
    <% end %> 

    <div class="form-group">
      <%= f.label :tecnico_id, "Selecione o técnico" %>
      <%= f.select :tecnico_id, Role.where(name: 'tec_serv_ti').first.users.order(nome: :asc).all.map{ |t| [t.nome, t.id] }, { include_blank: true }, { class: "form-control js-searchable", required: true } %>
      <%= has_error(@requisicao_ti, :tecnico_id) %>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success" data-disable-with="Salvar"><i class="icon fa fa-check"></i> Salvar</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="icon fas fa-ban"></i> Cancelar</button>
    </div>
  
  <% end %>
</div>

<script>
  $(document).ready(function() {
    $('.js-searchable').select2({
      placeholder: "Selecione",
      allowClear: true,
      theme: 'bootstrap',
      width: '100%'    
    });
  }); 
</script>