<% content_for :title do %>
  NUINFO
<% end %>

<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="<%= home_index_path %>">Voltar para início</a></li>
<% end %>

<% content_for :sub_title do %>
  Acompanhamento de Requisições
<% end %>

<% if current_user.has_role? :tec_serv_ti or current_user.has_role? :admin %>
  <div class="cabecalho">
    <%= render "cabecalho", tecnicos: @tecnicos %>  
  </div>
  <hr/>
  <div class="requisicoes">
    <%= render "requisicoes_em_abertas", requisicoes_ti_abertas: @requisicoes_ti_abertas %>  
  </div>
<% end %>

<% content_for :javascripts do %> 
  <script>  
    var tempo_de_refresh = 60000
    
    $( document ).ready(function() {
      requisitar_refresh()
      loop()
    }) 

    function requisitar_refresh(){
      $.get( '<%= refresh_acompanhamento_nuinfo_requisicao_tis_url %>', function( data ) {
        $( ".result" ).html( data );
      });
    }

    function loop() {
      if(document.hidden){
        tempo_de_refresh = 60000
      }  
      setTimeout(() => {
        requisitar_refresh()
        loop();
      }, tempo_de_refresh);
    }
  </script>
<% end %>
  