<% content_for :title do %>
  <i class="fa fa-sitemap"></i> Problemas
<% end %>
<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="<%= unidades_url %>">Problemas</a></li>
<% end %>
<% content_for :sub_title do %>
  Lista de problemas
<% end %>
<% content_for :buttons do %>
  <%= link_to new_problema_ti_path, class: "btn btn-sm btn-success", title: "Novo problema", remote: true do %>
    <i class="fas fa-plus"></i> Novo
  <% end %>
<% end %>

<table id="data-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo problema ti</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="data-table-body">
    <%= render @problema_tis %>
  </tbody>
</table>