<% content_for :title do %>
  Seja bem-vido ao Siscom
<% end %>

<% content_for :breadcrumb do %>
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active">Blank Page</li>
<% end %>

<% content_for :sub_title do %>
  Home
<% end %>

<% content_for :buttons do %>
  <button type="button" class="btn btn-sm btn-success" data-card-widget="collapse" title="Collapse">
    <i class="fas fa-plus"></i>
    &nbsp; Novo
  </button>
  <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
    <i class="fas fa-times"></i>
  </button>
<% end %>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
