<!-- app/views/transporte_escolar/contratos/index.html.erb -->

<% content_for :title do %>
  <i class="fa fa-info"></i> Contratos
<% end %>
<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="<%= transporte_escolar_contratos_url %>">Contratos</a></li>
<% end %>
<% content_for :sub_title do %>
  Lista de contratos
<% end %>
<% content_for :buttons do %>
  <%= link_to new_transporte_escolar_contrato_path, class: "btn btn-sm btn-success", title: "Novo Contrato", remote: true do %>
    <i class="fas fa-plus"></i> Novo
  <% end %>
<% end %>

<table id="data-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Ordem</th>
      <th>Código</th>
      <th>Início</th>
      <th>Fim</th>
      <th>Valor Total</th>
      <th>Valor Diária</th>
      <th>Transportador</th>
      <th>Escola</th>
      <th>Município</th>
      <th>Veículo</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody id="data-table-body">
    <% @contratos.each_with_index do |contrato, index| %>
      <%= render 'contrato', contrato: contrato, index: index %>
    <% end %>
  </tbody>
</table>
