<h1>Editing Requisicao Transporte</h1>

<%= render 'form', requisicao_transporte: @requisicao_transporte %>

<%= link_to 'Show', @requisicao_transporte %> |
<%= link_to 'Back', requisicao_transportes_path %>
