<% content_for :title do %>
  <i class="fa fa-sitemap"></i> Tipos de problemas de TI
<% end %>
<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="<%= tipo_problema_tis_url %>">Tipos de problemas de TI</a></li>
<% end %>
<% content_for :sub_title do %>
  Lista de tipos de problema de TI
<% end %>
<% content_for :buttons do %>
  <%= link_to new_tipo_problema_ti_path, class: "btn btn-sm btn-success", title: "Nova Unidade", remote: true do %>
    <i class="fas fa-plus"></i> Novo
  <% end %>
<% end %>

<table id="data-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="data-table-body">
    <%= render @tipo_problema_tis %>
  </tbody>
</table>
 