<% content_for :title do %>
  <i class="fa fa-users"></i> Usuários
<% end %>
<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="<%= usuarios_url %>">Usuários</a></li>
<% end %>
<% content_for :sub_title do %>
  Lista de usuários
<% end %>
<% if current_user.has_any_role? :tec_serv_ti, :admin, :master %>
  <% content_for :buttons do %>
    <%= link_to new_usuario_path, class: "btn btn-sm btn-success", title: "Novo Usuário", remote: true do %>
      <i class="fas fa-plus"></i> Novo
    <% end %>
  <% end %>
<% end %>

<table id="data-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Unidade</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody id="data-table-body">
    <% @usuarios.each do |usuario| %>
      <%= render "usuario", usuario: usuario %>
    <% end %>
  </tbody>
</table>
 
