<% content_for :title do %>
  <i class="fa fa-users"></i> Usuários
<% end %>
<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="<%= usuarios_url %>">Usuários</a></li>
<% end %>
<% content_for :sub_title do %>
  Lista de usuários
<% end %>
<% if current_user.has_any_role? :tec_serv_ti, :admin, :master %>
  <% content_for :buttons do %>
    <%= link_to new_usuario_path, class: "btn btn-sm btn-success", title: "Novo Usuário", remote: true do %>
      <i class="fas fa-plus"></i> Novo
    <% end %>
  <% end %>
<% end %>

<table id="data-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Unidade</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody id="data-table-body">
  </tbody>
</table>

<% content_for :javascripts do %>
<script>
  $(function(){
    var $table = $('#data-table');
    if ($.fn.DataTable.isDataTable($table)) {
      $table.DataTable().destroy();
      $table.find('tbody').empty();
    }
    $table.DataTable({
      processing: true,
      serverSide: true,
      ajax: {
        url: '<%= usuarios_path(format: :json) %>',
        type: 'GET'
      },
      columns: [
        { title: 'Nome' },
        { title: 'Email' },
        { title: 'Unidade' },
        { title: 'Ações', orderable: false, searchable: false }
      ],
      order: [[0, 'asc']],
      pageLength: 25,
      lengthMenu: [[10,25,50,100],[10,25,50,100]],
      responsive: true,
      language: {
        sProcessing:    'Processando...',
        sLengthMenu:    'Mostrar _MENU_ registros',
        sZeroRecords:   'Nenhum resultado encontrado',
        sEmptyTable:    'Nenhum dado disponível nesta tabela',
        sInfo:          'Mostrando registros de _START_ a _END_ de um total de _TOTAL_ registros',
        sInfoEmpty:     'Mostrando registros de 0 a 0 de um total de 0 registros',
        sInfoFiltered:  '(filtrando um total de _MAX_ registros)',
        sInfoPostFix:   '',
        sSearch:        'Buscar:',
        sUrl:           '',
        sInfoThousands: ',',
        sLoadingRecords:'Carregando...',
        oPaginate: {
          sFirst:    'Primeiro',
          sLast:     'Último',
          sNext:     'Próximo',
          sPrevious: 'Anterior'
        },
        oAria: {
          sSortAscending:  ': Ative para classificar a coluna em ordem crescente',
          sSortDescending: ': Ative para classificar a coluna em ordem decrescente'
        }
      }
    });
  });
</script>
<% end %>

