<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tipo_unidade.nome %>
</p>

<%= link_to 'Edit', edit_tipo_unidade_path(@tipo_unidade) %> |
<%= link_to 'Back', tipo_unidades_path %>
