<div class="nested-fields">
  <div class="form-group group-user d-flex align-items-center">
    <%= f.label :user_id, 'Participante', class: 'mr-2' %>
    <%= f.hidden_field :user_id, class: 'js-etapa-user-id' %>
    <%= text_field_tag :user_nome, (f.object.user&.nome), class: "form-control js-autocomplete-usuario", placeholder: 'Digite para buscar participante', required: false, autocomplete: 'off', style: 'width: auto; flex-grow: 1;' %>
    
    <%= link_to_remove_association "Remover", f, class: "btn btn-danger ml-2" %>
  </div>
</div>
